language: python

python:
  - 3.6
 
before_install:
  - pip install xlsxwriter
  - pip install python-tk
  - pip install csv
  - pip install win32com.client

script:
  - cd GenerateApp
  - python generator.py
