python 3.7.7 
OpenCV 4.2.0
xlsxwriter 1.2.8
tensorflow 1.14.0
keras 2.2.4
scikit-image 0.16.1
scikit-learn 0.20.3
matplotlib 3.0.3
pillow 6.2.0
win32com.client (стандартный пакет Windows)
tkinter 1.2.8
